.footerSection{
    margin-top: 3rem;
    background-color: rgba(249, 177, 76, 0.601);
    text-align: center;
    padding: 1rem 0;
    .icons{
        display: flex;
        justify-content: space-evenly;
        width: 25%;
        margin: 1rem auto;
        gap: 0.5rem;

        .icon{
            width: 45px;
            height: 45px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-size: 26px;
            color: white;
            border-radius: 50%;
            outline: 2px solid white;
            transition: all 0.25s;

            &:hover{
                outline-offset: 4px;
            }
            &:hover .ri{
                animation: shake 0.25s;
            }

            &.instagram:hover{
                background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                outline-color: #a02d76;
            }
            &.Github:hover{
                background-color: black ;
                outline-color: black;
            }
            &.Linkedin:hover{
                background-color: #0077b5;
                outline-color: #0077b5;
            }
            &.Mail:hover{
                background:linear-gradient(blue,red, yellow, green);
                outline-color: greenyellow;
            }

            @keyframes shake {
                10%{transform: rotate(15deg);}
                20%{transform: rotate(-15deg);}
                30%{transform: rotate(15deg);}
                40%{transform: rotate(-15deg);}
            }
        }
    }


    @media(max-width:760px){
        .icons{
            width: 80%;
        }
    }
}